section {
  margin: 5rem 0;
  font-family: 'Poppins', sans-serif;
}
section .tilte h4{
  color: #ed4848;
  font-size: 1.35rem;
  position: relative;
}
section .about-self::after{
  content: '';
  clear: both;
  display: block;
}
section .tilte h2{
  font-size: 3.5rem;
}
section .about-self .left{
  float: left;
  width: 50%;
}
section .about-self .left img{
  max-width: 100%;
}
section .about-self .right{
  float: left;
  width: 50%;
  padding: 0 2rem;
}
section .about-self .right h3{
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
section .about-self .right h3 strong{
  color: #ed4848;;
}
section .about-self .right p{
  margin: 1rem 0;
  font-size: 1.15rem;
}
section .about-self .right .social a{
  font-size: 2rem;
  margin-right: 0.2rem;
}
